body{
    font-family: "Fredoka One", cursive;
}
.alternativa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 5px;
}
.accion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 40%;
}
h4{
  text-align: center;
 
  
}
h1{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 8rem;
  }
.opciones{
    display: block;
    background-color: blue;
    margin-top: 10px;
}
.fruta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
}
